
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="50">
    <p class="date">MAY 5 </p>
  </div>
  <div fxFlex="50">
    <div class="mr-1"><a class="back" routerLink="/regMerchants"> BACK</a> <mat-icon class="back">arrow_back_ios</mat-icon></div>
  </div>
</div>
<p>Vipul Srivatsav <a href="" class="merchant">#MERCHANT</a></p>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="25">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="20"><img src="./../../../assets/Agent Assets/6.svg" alt=""></div>
      <div fxFlex="80">
        <p class="title">Business Address</p>
        <p class="title1">H-21 Vivek Vihar <br> New Delhi 110087</p>
      </div>
    </div>
  </div>
  <div fxFlex="25">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="20"><img src="./../../../assets/Agent Assets/7.svg" alt=""></div>
      <div fxFlex="80">
        <p class="title">Mobile Number</p>
        <p class="title1">+91 655788665</p>
      </div>
    </div>
  </div>
  <div fxFlex="25">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="20"><img src="./../../../assets/Agent Assets/8.svg" alt=""></div>
      <div fxFlex="80">
        <p class="title">Business Type</p>
        <p class="title1">Public Limited</p>
      </div>
    </div>
  </div>
  <div fxFlex="25">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="20"><img src="./../../../assets/Agent Assets/14.svg" alt=""></div>
      <div fxFlex="80">
        <p class="title">Business Email</p>
        <p class="title1">Vip.sri@fashion.com</p>
      </div>
    </div>
  </div>
</div>
<p>Indentity Verification</p>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="20">
    <p class="title">Aadhar Card</p>
    <p class="title1">8765 4532 8734</p>
    <p class="title">PAN Card <img src="./../../../assets/Agent Assets/15.svg" alt=""></p>
    <p class="title1">DHUPS****Q</p>
  </div>
  <div fxFlex="40">
      <a href="" class="aTagTitle1">Aadhar Card Documents(Verified Successfully )</a>
      <img src="./../../../assets/Agent Assets/aadhaar1.svg" alt="aadhaar1" class="adhar">
      <img src="./../../../assets/Agent Assets/aadhaar2.svg" alt="aadhaar2" class="adhar">
  </div>
  <div fxFlex="40">
    <a href="" class="aTagTitle1">Aadhar Card Documents(Verified Successfully )</a>
      <img src="./../../../assets/Agent Assets/pan_card.webp" alt="aadhaar1" class="panCard">
  </div>
</div>
<div class="mt-1"><a href="" class="aTagTitle2">Bank Account Verification(Verified Successfully)</a></div>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="20">
    <p class="title">Bank Account Number</p>
    <p class="title1">787865786868897</p>
  </div>
  <div fxFlex="15">
    <p class="title">IFSC Code</p>
    <p class="title1">IFSC000787</p>
  </div>
  <div fxFlex="15">
    <p class="title">Branch Name</p>
    <p class="title1">IFSCBranch</p>
  </div>
  <div fxFlex="50"></div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="30">
    <p>Photograph (Holding Document)</p>
    <img src="../../../assets/Agent Assets/21.svg">
  </div>
  <div fxFlex="70">
    <p>Shop Banner Photograph</p>
    <img src="../../../assets/Agent Assets/23.svg" alt="">
  </div>
</div>
<p>Shop Interior Photograph</p>
<div class="scroll-container hide-scrollbar">
  <img src="../../../assets/Agent Assets/bakery1.jpg" alt="bakery1" class="imageSize">
  <img src="../../../assets/Agent Assets/bakery2.jpg" alt="bakery1" class="imageSize">
  <img src="../../../assets/Agent Assets/bakery3.jpg" alt="bakery1" class="imageSize">
  <img src="../../../assets/Agent Assets/bakery4.jpg" alt="bakery1" class="imageSize">
  <img src="../../../assets/Agent Assets/bakery5.jpg" alt="bakery1" class="imageSize">
</div>
<p>Comments (For Rejecting the Document Only)</p>
<p class="title">Comments for Rejection</p>
<a href="" class="textDec">Placeholder</a>
